@use "./base";

$primary-color-1: #936CDD;
$primary-color-2: #FFF8F3;
$primary-color-3: #FF9051;
$heading-color: #201830;
$text-color-1: #665F73;
$text-color-2: #FFF;

@mixin lineClamp($lines:1) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin displayFlex($h: start, $v:start) {
    display: flex;
    align-items: $h;
    justify-content: $v;
}

@mixin btn($bg: $primary-color-1) {
    @include displayFlex(center, center);
    width: 157px;
    height: 64px;
    border-radius: 8px;
    background: $bg;
    color: $text-color-2;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    transition: opacity .25s;

    &:hover {
        opacity: 0.8;
    }
}

@mixin heading($color: $heading-color, $fz: 4.2rem, $lh: 1.24) {
    color: $color;
    font-size: $fz;
    line-height: $lh;
    font-weight: 700;
}

@mixin desc($color: $text-color-1, $fz: 1.6rem, $lh: 1.75) {
    color: $color;
    font-size: $fz;
    line-height: $lh;
    font-weight: 400;
}

@mixin playBtn($size: 14px, $bg: $heading-color, $triangle-color: $text-color-2) {
    position: relative;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $bg;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-20%, -50%);
        width: 0;
        height: 0;
        border-top: calc($size / 4) solid transparent;
        border-bottom: calc($size / 4) solid transparent;
        border-right: calc($size / 4) solid transparent;
        border-left: calc($size / 3) solid $triangle-color; 
    }
}

@mixin widthHeight($w: 100%, $h: $w) {
    width: $w;
    height: $h;
}

%rounded-blur {
    position: absolute;
    width: 287px;
    height: 287px;
    border-radius: 50%;
    opacity: 0.4;
    background: $primary-color-3;
    filter: blur(129px);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    color: $text-color-1;
}

body::-webkit-scrollbar {
  display: none;
}

/* Common */
body a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.fixed {
    position: sticky;
    top: -36px;
    z-index: 4;
}

.deco {
    position: absolute;
}

@mixin headingHighlight($w: 100%) {
    .highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
}
    .highlight::after {
        content: '';
        display: inline-block;
        width: $w;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translateX(-50%);
        background-image: url("/assets/icon/heading-deco-large.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: -1;
    }
}

.listen-icon {
    @include playBtn;
}

.btn {
    @include btn;
}

/* Header */
.header {
    background: $primary-color-2;
    padding-top: 36px;
}

.header__row {
    @include displayFlex(center, space-between);
    padding: 8px 0;

    .nav__list {
        @include displayFlex;

        .nav__link {
            position: relative;
            padding: 8px 24px;
            line-height: 1.75; /* 175% */
            transition: color .25s, text-shadow .25s;
            font-size: 1.6rem;

            &:hover {
                color: $heading-color;
                text-shadow: 1px 0 0 currentColor;
            }
        }

        .nav__link--active::after {
            position: absolute;
            top: 50%;
            transform: translateY(-70%);
            content: '';
            display: inline-block;
            margin-left: 7px;
            width: 6px;
            height: 6px;
            border: 1px solid currentColor;
            border-top: none;
            border-left: none;
            rotate: 45deg;
        }
    }

    .cta {
        @include displayFlex($h: center);
        column-gap: 28px;

        .log-in-btn {
            color: $heading-color;
            line-height: 1.75; /* 175% */
            font-size: 1.6rem;
        }

        .btn {
            @include btn($bg: $heading-color);
            width: 116px;
            height: 48px;
            font-size: 1.6rem;
            border-radius: 6px;
        }
    }
}

.logo__wrapper {
    @include displayFlex($h: center);
    column-gap: 9px;
    color: $heading-color;

    span {
        font-size: 2.2rem;
        font-weight: 600;
    }
}

/* Hero */
.hero {
    background: $primary-color-2;
    padding: 102px 0 140px;
}

.hero__media {
    @include displayFlex(center, space-between);

    .hero__column {
        position: relative;
    }

    .hero__card:nth-child(2) {
        margin-top: 158px;
    }

    .hero__img {
        width: 100%;
        height: 302px;
        object-fit: cover;
        border-radius: 8px;
    }

    .hero__player, .hero__user {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 194px;
        height: 60px;
        border-radius: 9px;
    }

    .hero__player {
        top: 272px;
        @include displayFlex(center, center);
        column-gap: 12px;
        background: $text-color-2;
        box-shadow: 0 12px 44px 0 rgba(32, 24, 48, 0.07);
    }

    .hero__player--btn {
        position: relative;
        /* @include displayFlex(center, center); */
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid $primary-color-1;
        background: transparent;

        .hero__player--icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-20%, -50%);
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-right: 4px solid transparent;
            border-left: 6px solid $primary-color-1; /* màu của tam giác */
        }
    }

    .hero__listener {
        margin-top: 53px;

        .hero__listener--title {
            color: $heading-color;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.71; /* 171.429% */
        }

        .hero__listener--avatar {
            @include displayFlex;
            margin-top: 10px;
            margin-left: 18px;
        }

        .hero__listener--wrapper {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 2px solid #FFF;
            margin-left: -18px;
        }

        .hero__listener--wrapper:last-child {
            @include displayFlex(center, center);
            background: $heading-color;
            color: $text-color-2;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.83; /* 183.333% */
        }

        .hero__listener--img {
            width: 100%;
            border-radius: 50%;
        }
    }

    .hero__user {
        bottom: 16px;
        @include displayFlex(center, center);
        flex-direction: column;
        background: rgba($text-color-2, 0.4);
        border-radius: 9px;
        box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.07);
        backdrop-filter: blur(5px);

        span {
            display: block;
        }

        .hero__user--name {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1; /* 100% */
            color: $heading-color;
            margin-bottom: 6px;
        }

        .hero__user--role {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1; /* 100% */
        }
    }

    .hero__deco {
        .hero__deco--stats {
            top: -150px;
            left: 118px;
            @include displayFlex(center, center);
            flex-direction: column;
            row-gap: 4px;
            width: 82px;
            height: 82px;
            border-radius: 50%;
            background: $primary-color-3;

            & span:nth-child(1) {
                color: $text-color-2;
                font-size: 1.4rem;
                font-weight: 800;
                line-height: 1; /* 100% */
            }

            & span:nth-child(2) {
                color: #FFEFE7;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1; /* 100% */
            }
        }

        & .hero__deco-line:nth-child(2){
            top: -107px;
            left: 54px;
        }

        & .hero__deco-line:nth-child(3){
            top: -50px;
            left: 157px;
        }

        .hero__deco--apps {
            top: -56px;
            @include displayFlex;
            column-gap: 18px;
        }

        .hero__deco--app {
            @include widthHeight(28px);
            object-fit: contain;
        }
    }
}

.hero__content {
    .hero__title {
        @include heading($fz: 7rem, $lh: 1.14);
        @include headingHighlight(328px);
    }

    .hero__desc {
        @include desc($fz: 1.8rem, $lh: 1.67);
        margin-top: 20px;
    }

    .hero__cta {
        @include displayFlex($h: center);
        column-gap: 28px;;
        margin-top: 40px;
    }

    .hero__cta--btn {
        @include btn;
    }

    .hero__cta--link {
        @include displayFlex($h: center);
        column-gap: 8px;

        .listen-icon {
            @include playBtn($size: 18px);
        }
    }

    .hero__cta--text {
        @include desc($heading-color, 1.8rem, 1.67);
        font-weight: 600;
    }
}

/* Directories */
.directories {
    padding: 80px;
    margin-top: 80px;

    .directories__inner {
        padding: 45px 0;
    }

    &__title {
        @include heading;
        max-width: 450px;
        @include headingHighlight(220px);
    }

    &__desc {
        @include desc;
        margin-top: 18px;
        max-width: 490px;
    }

    .btn {
        margin-top: 38px;
        column-gap: 8px;
    }

    .listen-icon {
        @include playBtn(18px, $text-color-2, $primary-color-1);
    }

    .directories__apps {
        position: relative;
        height: 100%;
    }

    .directories__app:nth-child(1) {
        @include widthHeight(148px);
        top: -45px;
        left: 185px;
    }

    .directories__app:nth-child(2) {
        @include widthHeight(138px);
        bottom: 5px;
        right: 48px;
    }

    .directories__app:nth-child(3) {
        @include widthHeight(126px);
        bottom: -45px;
        left: 169px;
    }

    .directories__app:nth-child(4) {
        @include widthHeight(80px);
        top: 119px;
        left: 0;
    }

    .directories__app:nth-child(5) {
        @include widthHeight(100px);
        top: 14px;
        right: 0;
    }

    .rounded-blur {
        @extend %rounded-blur;
        top: -11px;
        left: 142px;
    }
}

/* Category */
.category {
    padding: 80px 0;

    .category__top {
        text-align: center;
    }

    .category__title {
        @include heading;
        @include headingHighlight(193px);
    }

    .category__desc {
        @include desc;
        margin: 18px auto 0;
        max-width: 470px;
    }

    .category__list {
        @include displayFlex;
        margin-top: 70px;
    }

    .category__left {
        height: 100%;
    }

    .category__right {
        @include displayFlex;
        flex-wrap: wrap;
        row-gap: 30px;
        height: 600px;

        .category__channel {
            height: 285px;
        }
    }

    .category__channel {
        position: relative;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
        transition: opacity .25s;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    .category__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .category__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px 24px;
        color: $text-color-2;
        background: rgba($text-color-2, $alpha: 0.2);
    }

    .category__overlay--row {
        @include displayFlex($h: center);
        column-gap: 8px;
    }

    .category__channel--title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67; /* 166.667% */
    }

    .category__channel--arrow {
        @include widthHeight(14px);
        @include displayFlex(center, center);
        border-radius: 50%;
        border: 1px solid currentColor;
    }

    .category__channel--desc {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.71; /* 166.667% */
    }

    .category__cta {
        margin-top: 55px;
    }

    .btn {
        background: $heading-color;
        margin: 0 auto;
    }
}

/* Category */
.popular {
    padding: 100px 0;
    margin-top: 80px;
    background: $primary-color-2;

    &__top {
        @include displayFlex(center, space-between);

    }

    &__title {
        @include heading;
        @include headingHighlight(139px);
        max-width: 390px;
    }

    .btn {
        background: $heading-color;
    }

    .popular__list {
        margin-top: 86px;
    }

    .popular__item:hover {
        .popular__link {
            color: $primary-color-1;
        }

        .listen-icon {
            background: $primary-color-1;
        }
    }

    .popular__img {
        width: 100%;
        height: 286px;
        object-fit: cover;
        border-radius: 8px;
    }

    .popular__meta {
        color: $primary-color-3;
        font-size: 1.4rem;
        line-height: 1.71; /* 171.429% */
    }

    .popular__item--title {
        @include heading($heading-color, 2rem, 1.5);
        margin-top: 6px;
    }

    .popular__desc {
        @include desc;
        margin-top: 18px;
    }

    .popular__cta {
        margin-top: 11px;
        @include displayFlex($h: center);
        column-gap: 6px;
    }

    .popular__link {
        color: $heading-color;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.71; /* 171.429% */
        transition: color .25s;
    }

    .listen-icon {
        @include playBtn(14px, $heading-color, $text-color-2);
        transition: background .25s;
    }

    .slider {
        margin-top: 55px;
        text-align: center;
    }
}






