@use "./base" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    color: $text-color-1;
}

body::-webkit-scrollbar {
  display: none;
}

/* Common */
body a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.fixed {
    position: sticky;
    top: -36px;
    z-index: 4;
}

.deco {
    position: absolute;
}

.listen-icon {
    @include playBtn;
}

.btn {
    @include btn;
}

/* Header */
.header {
    background: $primary-color-2;
    padding-top: 36px;
}

.header__row {
    @include displayFlex(center, space-between);
    padding: 8px 0;

    .nav__list {
        @include displayFlex;

        .nav__link {
            display: inline-block;
            position: relative;
            padding: 8px 24px;
            line-height: 1.75; /* 175% */
            transition: color .25s, text-shadow .25s;
            font-size: 1.6rem;

            &:hover {
                color: $heading-color;
                text-shadow: 1px 0 0 currentColor;
            }
        }

        .nav__link--active::after {
            position: absolute;
            top: 50%;
            transform: translateY(-70%);
            content: '';
            display: inline-block;
            margin-left: 7px;
            width: 6px;
            height: 6px;
            border: 1px solid currentColor;
            border-top: none;
            border-left: none;
            rotate: 45deg;
        }
    }

    .cta {
        @include displayFlex($h: center);
        column-gap: 28px;

        .log-in-btn {
            color: $heading-color;
            line-height: 1.75; /* 175% */
            font-size: 1.6rem;
        }

        .btn {
            @include btn($bg: $heading-color);
            width: 116px;
            height: 48px;
            font-size: 1.6rem;
            border-radius: 6px;
        }
    }
}

.logo__wrapper {
    @include displayFlex($h: center);
    column-gap: 9px;
    color: $heading-color;

    span {
        font-size: 2.2rem;
        font-weight: 600;
    }
}

/* Hero */
.hero {
    background: $primary-color-2;
    padding: 102px 0 140px;
}

.hero__media {
    @include displayFlex(center, space-between);

    .hero__card {
        position: relative;
    }

    .hero__card:nth-child(2) {
        margin-top: 158px;
    }

    .hero__img {
        width: 100%;
        height: 302px;
        object-fit: cover;
        border-radius: 8px;
    }

    .hero__player, .hero__user {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 194px;
        height: 60px;
        border-radius: 9px;
    }

    .hero__player {
        bottom: -30px;
        @include displayFlex(center, center);
        column-gap: 12px;
        background: $text-color-2;
        box-shadow: 0 12px 44px 0 rgba(32, 24, 48, 0.07);
    }

    .hero__player--btn {
        @include playBtn(26px, transparent, $primary-color-1);
        border: 1px solid $primary-color-1;
    }

    .hero__listener {
        margin-top: 53px;

        .hero__listener--title {
            color: $heading-color;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.71; /* 171.429% */
        }

        .hero__listener--avatar {
            @include displayFlex;
            margin-top: 10px;
            margin-left: 18px;
        }

        .hero__listener--wrapper {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 2px solid #FFF;
            margin-left: -18px;
        }

        .hero__listener--wrapper:last-child {
            @include displayFlex(center, center);
            background: $heading-color;
            color: $text-color-2;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.83; /* 183.333% */
        }

        .hero__listener--img {
            width: 100%;
            border-radius: 50%;
        }
    }

    .hero__user {
        bottom: 16px;
        @include displayFlex(center, center);
        flex-direction: column;
        background: rgba($text-color-2, 0.4);
        box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.07);
        backdrop-filter: blur(5px);
    }

    .hero__user--name {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1; /* 100% */
        color: $heading-color;
        margin-bottom: 6px;
    }

    .hero__user--role {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1; /* 100% */
    }

    .hero__deco {
        .hero__deco--stats {
            top: 8px;
            left: 118px;
            @include displayFlex(center, center);
            flex-direction: column;
            row-gap: 4px;
            width: 82px;
            height: 82px;
            border-radius: 50%;
            background: $primary-color-3;

            & span:nth-child(1) {
                color: $text-color-2;
                font-size: 1.4rem;
                font-weight: 800;
                line-height: 1; /* 100% */
            }

            & span:nth-child(2) {
                color: #FFEFE7;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1; /* 100% */
            }
        }

        & .hero__deco-line:nth-child(2){
            top: 44px;
            left: 54px;
        }

        & .hero__deco-line:nth-child(3){
            top: 102px;
            left: 157px;
        }

        .hero__deco--apps {
            top: 102px;
            @include displayFlex;
            column-gap: 18px;
        }

        .hero__deco--app {
            @include widthHeight(28px);
            object-fit: contain;
        }
    }
}

.hero__content {
    .hero__title {
        @include heading($fz: 7rem, $lh: 1.14);
        @include headingHighlight(328px);
    }

    .hero__desc {
        @include desc($fz: 1.8rem, $lh: 1.67);
        margin-top: 20px;
    }

    .hero__cta {
        @include displayFlex($h: center);
        column-gap: 28px;;
        margin-top: 40px;
    }

    .hero__cta--btn {
        @include btn;
    }

    .hero__cta--link {
        @include displayFlex($h: center);
        column-gap: 8px;

        .listen-icon {
            @include playBtn($size: 18px);
        }
    }

    .hero__cta--text {
        @include desc($heading-color, 1.8rem, 1.67);
        font-weight: 600;
    }
}

/* Directories */
.directories {
    padding: 80px;
    margin-top: 80px;

    &__title {
        @include heading;
        max-width: 450px;
        @include headingHighlight(220px);
    }

    &__desc {
        @include desc;
        margin-top: 18px;
        max-width: 490px;
    }

    .directories__btn {
        margin-top: 38px;
        column-gap: 8px;
    }

    .listen-icon {
        @include playBtn(18px, $text-color-2, $primary-color-1);
    }

    .directories__apps {
        position: relative;
        height: 399px;
    }

    .directories__app:nth-child(1) {
        @include widthHeight(148px);
        top: 0;
        left: 185px;
    }

    .directories__app:nth-child(2) {
        @include widthHeight(138px);
        bottom: 40px;
        right: 48px;
    }

    .directories__app:nth-child(3) {
        @include widthHeight(126px);
        bottom: 0;
        left: 169px;
    }

    .directories__app:nth-child(4) {
        @include widthHeight(80px);
        top: 164px;
        left: 0;
    }

    .directories__app:nth-child(5) {
        @include widthHeight(100px);
        top: 59px;
        right: 0;
    }

    .rounded-blur {
        @extend %rounded-blur;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Category */
.category {
    padding: 80px 0;

    &__top {
        text-align: center;
    }

    &__title {
        @include heading;
        @include headingHighlight(193px);
    }

    &__desc {
        @include desc;
        margin: 18px auto 0;
        max-width: 470px;
    }

    &__list {
        margin-top: 70px;
    }

    &__left {
        height: 100%;
    }

    &__right {
        @include displayFlex;
        flex-wrap: wrap;
        row-gap: 30px;

        .category__channel {
            height: 285px;
        }
    }

    &__channel {
        position: relative;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
        transition: opacity .25s;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    &__channel--wrapper {
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px 24px;
        color: $text-color-2;
        background: rgba($text-color-2, $alpha: 0.2);
    }

    &__overlay--row {
        @include displayFlex($h: center);
        column-gap: 8px;
    }

    &__channel--title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67; /* 166.667% */
    }

    &__channel--arrow {
        @include widthHeight(14px);
        @include displayFlex(center, center);
        border-radius: 50%;
        border: 1px solid currentColor;
    }

    &__channel--desc {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.71; /* 166.667% */
    }

    &__cta {
        margin-top: 55px;
    }

    .btn {
        background: $heading-color;
        margin: 0 auto;
    }
}

/* Category */
.popular {
    padding: 100px 0;
    margin-top: 80px;
    background: $primary-color-2;

    &__top {
        @include displayFlex(center, space-between);

    }

    &__title {
        @include heading;
        @include headingHighlight(139px);
        max-width: 390px;
    }

    .btn {
        background: $heading-color;
    }

    .popular__list {
        margin-top: 86px;
        overflow: hidden;
    }

    .popular__item:hover {
        .popular__link {
            color: $primary-color-1;
        }

        .listen-icon {
            background: $primary-color-1;
        }
    }

    .popular__img {
        width: 100%;
        height: 286px;
        object-fit: cover;
        border-radius: 8px;
    }

    .popular__meta {
        color: $primary-color-3;
        font-size: 1.4rem;
        line-height: 1.71; /* 171.429% */
    }

    .popular__item--title {
        @include heading($heading-color, 2rem, 1.5);
        margin-top: 6px;
    }

    .popular__desc {
        @include desc;
        margin-top: 18px;
    }

    .popular__cta {
        margin-top: 11px;
        @include displayFlex($h: center);
        column-gap: 6px;
    }

    .popular__link {
        color: $heading-color;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.71; /* 171.429% */
        transition: color .25s;
    }

    .listen-icon {
        @include playBtn(14px, $heading-color, $text-color-2);
        transition: background .25s;
    }

    .slider {
        margin-top: 55px;
        text-align: center;
    }
}

/* Feedback */
.feedback {
    position: relative;
    padding: 80px 0;
    overflow: hidden;

    .feedback__media {
        position: relative;
    }

    .feedback__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .feedback__img--sm {
        position: absolute;
        z-index: 1;
        margin-top: 80px;
        height: 284px;
    }

    .feedback__img--lg {
        height: 444px;
    }

    .popular__quote-icon {
        color: $primary-color-3;
    }

    .feedback__title {
        @include heading;
        @include headingHighlight(182px);
        margin-top: 18px;
    }

    .feedback__text {
        @include desc;
        margin-top: 38px;
    }

    .feedback__name {
        color: $text-color-3;
        font-size: 1.4rem;
        margin-top: 18px;
        line-height: 1.71; /* 171.429% */
    }

    .slider {
        position: absolute;
        bottom: 0;
        left: 74px;
    }

    .rounded-blur {
        @extend %rounded-blur;
        right: -162px;
        top: 80px;
    }
}

/* Subscribe */
.subscribe {
    .subscribe__inner {
        position: relative;
        padding: 100px 100px 110px;
        background: $heading-color;
        border-radius: 12px;
    }

    .subscribe__title {
        @include heading($color: $text-color-2);
        @include headingHighlight(151px)
    }

    .subscribe__desc {
        @include desc($color: $text-color-3);
    }

    .subscribe__form {
        margin-top: 70px;
    }

    input {
        width: 100%;
        height: 64px;
        border-radius: 8px;
        padding: 18px 28px;
        background: #2B213F;
        outline: none;
        border: none;
        color: $text-color-2;
        font-size: 1.6rem;

        &:placeholder-shown{
            color: $text-color-3;
            font-size: 1.6rem;
            line-height: 1.75; /* 175% */
        }
    }

    .subscribe__cta {
        margin-left: 15px;
    }

    .subscribe__deco-item:nth-child(1) {
        color: $primary-color-1;
        bottom: 45px;
        left: 35px;
    }

    .subscribe__deco-item:nth-child(2) {
        color: #5BC18F;
        top: 26px;
        left: 528px;
    }

    .subscribe__deco-item:nth-child(3) {
        color: $primary-color-3;
        top: 180px;
        right: 27px;
    }
}

/* Footer */
.footer {
    background: $primary-color-2;
    padding: 104px 0 38px;

    .footer__inner {
        @include displayFlex;
        column-gap: 116px;
    }

    .footer__socials {
        @include displayFlex($h: center);
        column-gap: 14px;
        margin-top: 18px;
    }

    .footer__wrapper {
        @include displayFlex(center, center);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: $heading-color;
        transition: background .25s;

        &:hover {
            background: $primary-color-1;
        }
    }

    .footer__right {
        @include displayFlex;
        column-gap: 90px
    }

    .footer__title {
        @include heading($heading-color, 2rem, 1.5);
        margin-bottom: 24px;
    }

    .footer__app {
        @include widthHeight(36px);
    }

    .footer__copyright {
        @include desc;
        margin-top: 14px;
        max-width: 270px;
    }

    .footer__link {
        @include desc;
        display: inline-block;
        padding: 8px 0;
        white-space: nowrap;
        transition-property: text-decoration, color, text-shadow;
        transition-duration: .25s;

        &:hover {
            text-decoration: underline;
            color: $heading-color;
            text-shadow: 0.5px 0 0 currentColor
        }
    }

    .footer__apps {
        display: flex;
        column-gap: 16px;
    }
}










